
/* Universal Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.case {
  width: 960px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*-----------Header Section-----------*/
header {
  background: black;
  display: flex;
  justify-content: center;
}

.logo {
  width: 960px;
  margin: 0.66rem 0;
  height: auto;
  display: flex;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo span {
  font-size: 1rem;
  text-transform: uppercase;
}

/*-----------Main Banner---------*/
.main_banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.main_banner .content {
  background-color: black;
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 20rem;
  padding: 0 3rem;
  flex-basis: auto;
}

.main_banner span {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  width: 100%;
  height: auto;
}

.main_banner h1 {
  display:block;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.25rem;
  margin-bottom: 2.75rem;
  text-transform: uppercase;
  height: auto;
}

/*-----------Navigation-----------*/
.navigation {
  background-color: firebrick;
  display: flex;
  justify-content: center;
}

ul {
  width: 960px;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

nav li, a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

/*-----------product_grid-----------*/
.product_grid {
  display: flex;
  justify-content: center;
}

.boxes {
display: flex;
justify-content: space-between;
width: 100%;
height: auto;
}

/*boxe*/
.boxe1, .boxe2,
.boxe3{
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 4px solid black;
}

.boxes .photo {
  background-color: white;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  margin: 2rem 1rem;
}

.boxes .text {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

.boxes p {
  display: inline-block;
  padding: 0.5rem 0;
}

 img {
   display: block;
   max-height: 100%;
   max-width: auto;
   overflow: hidden;
}

/*Details*/

.details {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}

.details .case {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 3rem;
}

.hours,
.location {
  width: 35%;
  height: auto;
}

.details .text {
  background-color: black;
  padding: 1rem 2rem;
}

.number p {
  color: black;
  padding: 0.1rem;
}

/*-----------Footer-----------*/
footer {
  height: 5rem;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------Media Query----------*/
@media only screen and (max-width: 1024px){
  .boxe1,
  .boxe2 {
    width: 47%;
  }

  .boxe3 {
    display: none;
  }
}

@media only screen and (max-width: 470px){
  .main_banner span{
    font-size: 0.77rem;
    margin-top: 1rem;
  }

  .main_banner h1{
    font-size: 1rem;
  }

  .main_banner {
    height: 15rem;
  }

  .boxe2 {
    display: none;
  }

  .boxe1 {
    width: 90%;
    margin-top: 3rem;
  }

  .boxes {
    display: flex;
    justify-content: center;
  }

  .details .case {
    display: inline-flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .hours,
  .location {
    width: 90%;
  }

  .location {
    margin-bottom: 0.5rem;
  }

  footer .case p{
    display: inline-flex;
    justify-content: center;
  }
}
